/*changes to bootstrap*/
.btn:active {
  margin-left: 2px;
  margin-right: -2px;
  margin-top: 2px;
}
.btn{
  border-radius: 0;
}
input[type=checkbox] {
  display:none;
}

/*app styles*/
.btn-nav {
	font-size: 42px;
	font-weight: bold;
	background-color: #4D394B;
	color: white;
	line-height: 196px;
  height: 208px;
}
.btn-nav:active {
	background-color: #3D293B;
}
.btn-nav:hover {
	color:white;
}
.info-bar {
	height: 30px;
	font-weight: bold;
	font-size: 21px;
}
#time {
	text-align: center;
}

.blank-space {
  height: 150px;
}
.blank-space-sm {
  height: 80px;
}
.two-line-btn {
  line-height: 40px;
  padding-top: 65px;
}
.info-bar,.sub-menu-bar {
	padding-top: 15px;
}

.sub-menu-bar{
	line-height: 100px;
	background-color: #3E313C;
	color: white;

}
.sub-page-title {
	text-align: center;
	font-size: 60px;
}
.back-btn {
	color: white;
	font-size: 28px;
	font-weight: bold;
	padding-left: 15px;
}
.back-btn:hover {
	color: white;
}
.notification-list {
	list-style: none;
	padding-left: 0px;
}
.notification-list li:nth-child(odd) {
   background-color: #ddd;
}
.notification-list li {
	line-height: 80px;
	font-size: 28px;
	border: 2px solid #808080;
	padding-left: 15px;
	margin-top: -2px;
}
#lq-days {
	display: inline;
	margin-left: 170px;
}
#lq-days button {
	width: 40px;
	height: 40px;
	margin-top: 30px;
	line-height: 20px;
}
.contact {
  font-size: 20px;
  border-bottom: 2px solid #ddd;
}
.contact-delete {
  color: darkRed;
  font-weight: bold;
}
.contact-delete:hover {
  cursor: pointer;
}
#contacts {
  margin-top: -38px;
}
.contact-name, .contact-delete, .contact-number, #contact-save {
  margin-bottom: 7px;
  margin-top: 7px;
}
#contact-save:active {
  margin-top: 9px;
  margin-bottom: 5px;
}
.contact-delete:active {
  margin-top: 9px;
  margin-bottom: 5px;
}
.confirm-bubble {
  display:none;
}
.confirm-contact-delete {
  position: relative;
}
.confirm-bubble-active {
  position: absolute;
  margin-top: 2px;
  right: 0px;
  z-index: 100;
  border: 3px solid;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
.confirm-bubble-active:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -31px;
  top: 0px;
  border: 15px solid;
  border-color: transparent #333 transparent transparent;
}
.confirm-delete-btn:active,.cancel-delete-btn:active {
  margin-top:2px;
  margin-bottom:-2px;
  margin-left:2px;
}
.slider-label {
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin-left: 105px;
  line-height: 160px;
  position: fixed
}
.pull-up {
  margin-top: -40px;
}
.time-header-top {
  padding: 8px;
  padding-bottom: 14px;
  margin-left: 35px;
}
.time-header-bottom {
  padding: 18px;
  margin-left: 25px;
  margin-top: -34px;
}

.overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(55,55,55,0.8);
}
.instructions-container {
  margin-top: 10%;
}
.instructions {
  color: white;
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
  padding-top: 40px;

}
.medication-info {
  padding: 40px;
  color: white;
  font-weight: bold;
  font-size: 35px;
}
.medication-info-container {
  background-color: rgba(35,35,35,0.9);;
}
#help-video-btn {
  background-color: #E54C5B;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}
.video-btn:hover {
  cursor: pointer;
}
.done-btn {
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 35px;
}
.done-btn:active {
  margin-top: 37px;
  margin-left: 2px;
}

#drug-list-container {
  height: 425px;
  margin-top: 80px;
  overflow: auto;
  background-color: white;
  padding: 0px;
}
#drug-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#drug-list li {
  height: 100px;
}
#drug-list li:nth-child(odd) div {
  background-color: #ddd;
  /*color: white;*/
}
#drug-list li:nth-child(odd) {
  background-color: #ddd;
}
.drug-name {
  line-height: 100px;
  font-size: 40px;
}
.drug-data {
  font-size: 20px;
  line-height: 100px;
}
/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  height: 54px;
  width: 110px;
}
input.cmn-toggle-round + label:after {
  width: 54px;
  height: 54px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}
.switch {
	position: relative;
	float: right;
	margin: 12px;
}